/* TOP ACTION BAR */
.acompleteScan{
  background: url('../../assets/images/down_arrow.png')#fff no-repeat right 10px center;
  border-radius:4px;
  padding: 2px 8px;
  border:1px solid #eaeaea;
  margin-right: 2px;
  background-size: 13px;
}

.acompleteScan p{
  color:#000;
  font-family:'AvenirLight';
  font-size: 14px;
  line-height: 15px;
}

.acompleteScan.current p{
  white-space: nowrap; 
  width: 95px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.acompleteScan :after,
.acompleteScan :before{
  display: none;
}

.acompleteScan span{
  display: none;
}

.acompleteScan svg{
  display: none;
}

.date-text-scan{
  width: 100%;
  background: #fff;
}
.date-text-scan input{
  font-family:'AvenirLight';
  font-size: 14px;
  line-height: 16px;
  padding: 6px 5px;
  border-radius:4px;
  border: 1px solid #eaeaea;
}
.deleteAllCb{
  display:inline-block;
}

.deleteAllCb label{
  margin:0;
}

/* PAGES ITEMS */
.pageScan{
  position: relative;
  border:1px solid #ececec;
  height:190px;
  margin:0 4px 4px;
}
.pageScan:hover{
  border:1px solid #3b6cb4;
  cursor: pointer;
}
.pageNumScan{
  position: absolute;
  bottom:5px;
  text-align: center;
  width:100%;
  font-family:'AvenirLight';
  font-size: 12px;
  color:#000;
}
.scanPreview{
  border:1px solid #ececec;
  width:99%;
  height: auto;
  min-height: 582px;
  position: relative;
}
.ScanDocBtns{
  padding-left: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}